.cadetes-container {
    background-image: url(../../assets/images/fondo2.png);
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 40px;
  }
  .titleconBtn{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .button-crear-cadete {
    background-color: var(--secundary-color);
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button-crear-cadete:hover {
    background-color: #4CAF50;
  }
  .cadete-item {
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: rgba(203, 203, 203, 0.7);
    border: 1px solid #e3e3e3af;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    &.inactivo{
        background-color: rgba(239, 152, 152, 0.605);
    }
  }
  
  .cadete-item button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cadete-item button:hover {
    background-color: #e10017;
  }
  
  .cadetes-list {
    display: grid;
    grid-gap: 10px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 23px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: var(--secundary-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--secundary-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .Active_btn{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input#nombre {
    display: block;
    width: 100%;
    align-self: center;
    padding: .75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #62676b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  input#nombre:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--secundary-color);
    outline: 0;
    // box-shadow: 0 0 0 .2rem var(--secundary-color);
  }
 .swal2-confirm.swal2-styled{
    background-color: var(--secundary-color);
    width: 100px;
 }