
.gestion-pedidos {
    padding: 20px;
    background-image: url('../../assets/images/fondo2.png');
    background-size: contain;
    height: 100%;
    // overflow-y: scroll;
    
    h2 {
      font-size: 1.3em;
      margin-bottom: 20px;
      color: #434343;
      margin-left: 30px;
    }
  
   & table {
      // min-height: 100%;
      width: 95%;
      border-collapse: collapse;
      background-color: #ffffffd8;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
      th, td {
        padding: 10px 10px;
        border-bottom: 1px solid #ddd;
        // text-align: left;
      }
  
      th {
        font-size: medium;
        text-align: center;
        background-color: #f5f5f5;
        font-weight: 600;
        color: #333;
      }
  
      tr:hover {
        background-color: #f9f9f9;
      }
      td{
        text-align: center;
        font-size: 0.9em;
        font-weight: 500;
        color: #333;
        & input{
          height: 35px;
          border-radius: 5px;
          border: none;
          border-bottom: 2px solid #00b00063;
          outline: none;
          text-align: center;
          caret-color: var(--greenSoft-color);
          &:focus{
            border-bottom: 2px solid #00b000;
          }
        }
      }
      td:last-child {

        // display: flex;
        text-align: center;
        max-width: 160px;
        // justify-content: space-around;
      }
  
      button {
        padding: 8px 12px;
        border: none;
        cursor: pointer;
        color: #fff;
        border-radius: 4px;
        transition: background-color 0.3s;
        &.cancelarBtn{
          background-color: var(--primary-color);
          margin-left: 10px;
          min-width: 100px;
          &.nocancelable{
            display: none
          }
          &:hover {
            background-color: var(--redSoft-color);
          }
        }
        &.editarBtn{
          min-width: 80px;
          background-color: rgb(186, 180, 0);
          &.noeditable{
            background-color: rgb(154, 153, 110);
            &:hover{
              background-color: rgb(154, 153, 110);
            }
          }
          &:hover {
            background-color: rgb(231, 224, 0);
          }
        }
        &.guardarBtn{
          min-width: 80px;
          background-color: var(--secundary-color);
            &:hover {
              background-color: var(--greenSoft-color);
            }
        }
        &.CancelarCambiosBtn{
          min-width: 100px;
          margin-left: 10px;
          margin-right: 20px;
          background-color: rgb(113, 112, 112);
          &:hover {
            background-color: rgb(149, 149, 149);
          }
        }
        
      }
    }
  & .ver-mas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    font-size: medium;
    color: var(--secundary-color);
    font-weight: 400;
    cursor: pointer;
    &:hover{
      color: rgb(3, 186, 3);
      
    }
  }
 
  }
  td.tdBotones{
    // display: flex;
    // text-align: center;
    // justify-content: space-between ;
    max-width: 200px;
  }

  .divBtns{
    display: flex;
    min-width: 190px;
    justify-content: space-around;
  }

  .selectGrupo{
    width: 100px;
  }
  .btnLimpiar{
    opacity: 0;
    color: #f9f9f9;
    border: 1px solid rgb(140, 140, 238);
    background-color: rgb(140, 140, 238);
    padding: 3px 10px;
    border-radius: 3px;
    transition: opacity 0.5s ease;
    &.mostrar{
      cursor: pointer;
      opacity: 1;
    }
  &:hover {
    background-color: rgb(97, 97, 240);
    color: #fff;
  }
  }
  .filtros{
    min-height: 50px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    & label{
        font-size: .7em;
        color:var(--secundary-color);
        font-weight: 400;  
        &.selecc{
          font-weight: 700;
        }
    }
    & input{
      padding: 8px 12px;
      border:none;
      background-color: #ffffffb3;
      border-bottom: 1px solid #ccc;
      outline: none;
    }
    & select {
      padding: 8px 12px;
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 4px;
      background-color: #ffffffb3;
      font-size: 0.8em;
      color: #333;
      outline: none;
      cursor: pointer;
    }
    & select option {
      background-color: #fff;
      color: #333;
    }
  }
  .campofiltro{
    width: 15%;
    display: flex;
    flex-direction: column-reverse;
  }
  .btnlimpDiv{
    width: 20%;
  }
  .noHayPed{
    position: absolute;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  tr{
   &.trEdit{
    background-color: #00b00028;
    &:hover{
      background-color: #00b00028;
    }
  } 
  }
.finaliz{
  font-size: smaller;
  color: #333333d3;
  text-align: center;
}
th.titulo_acc{
  max-width: 200px;
}