.group-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  max-width: 260px;
  &.closed{
    &.EnviarPedido{
    background-color: rgba(192, 213, 192, 0.835);
    }
  }
  &.tiempoSuperado{
    background-color: rgba(239, 218, 55, 0.888);
  }
    & p{
      font-size: small;
      // margin-right: 5px;

    }
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }}
  
  .group-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(30, 30, 30);
  }
  
  .group-card p {
    margin-bottom: 2px;
    & .valor{
      color: rgb(47, 47, 47);
      margin-left: 5px;
      font-weight: 600;
    }
  }
  
  .group-card .close-group-btn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .group-card .close-group-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  .contBtn{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .iconoBox{
    width: 30px;
  }
  .divtitle{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .enviar-group-btn{
    color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
    background-color: var(--tertiary-color);
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
    &:hover {
      background-color: var(--secundary-color);
      color: #fff;
    }
  }
  .boxestado{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    & span{
      font-size: smaller;
      color: rgb(70, 69, 69);
    }
  }
  #cadetesSelect{
    margin-top: 10px;
    display: block;
    width: 80%;
    margin-left: 10%;
    outline: none;
    padding: .75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #62676b;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    &:hover{
      border: 1px solid var(--secundary-color);
    }
  }
  .maxEspera{
    font-size: 0.8em;
    color: var(--primary-color);
    margin-top: 5px;
    font-weight: 500;
    text-align: center;
  }
  .espera{
    display: none;
    margin-top: 10px;
    &.superada{
      display: flex;
    }
    &.listoenviar{
      display: flex;
      color: var(--secundary-color);
      text-align: center;
      justify-content: center;
    }
  }