.reportes {
    padding: 20px;

    h2 {
        text-align: center;
        color: #009049;
    }

    .chart-container,
    .table-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            text-align: center;
            color: #333;
        }

        canvas {
            max-width: 100%;
        }

        table {
            width: 90%;
            border-collapse: collapse;
            margin-top: 20px;
            

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
                font-weight: 500;
                // &.tiempoexcedido{
                //     color: rgb(210, 0, 0);
                // }

            }

            th {
                background-color: #f2f2f2;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
        }
    }

    .react-tabs__tab-list {
        border-bottom: 1px solid #ccc;
        margin: 0 0 10px;
        padding: 0;
    }

    .react-tabs__tab {
        display: inline-block;
        border: 1px solid transparent;
        border-bottom: none;
        bottom: -1px;
        position: relative;
        list-style: none;
        padding: 6px 12px;
        cursor: pointer;
    }

    .react-tabs__tab--selected {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px 5px 0 0;
        color: #009049;
    }

    .react-tabs__tab--disabled {
        color: GrayText;
        cursor: default;
    }

    .react-tabs__tab:focus {
        box-shadow: 0 0 5px hsl(119, 80%, 20%);
        border-color: hsl(119, 100%, 40%);
        outline: none;
    }

    .react-tabs__tab-panel {
        display: none;
    }

    .react-tabs__tab-panel--selected {
        display: block;
    }

    
}
.buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    & .btnInfHs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
    }
}
.exportarBtn{
      background-color: rgb(230, 230, 230);
      color: #282828;
      border: none;
      padding: 5px 15px 5px 15px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 1rem;
      &:hover{
        background-color: #282828;
        color: #f2f2f2;
      }
}
// .enviarBtn{
//     background-color: rgb(230, 230, 230);
//     color: #282828;
//     border: none;
//     padding: 5px 15px 5px 15px;
//     border-radius: 5px;
//     margin-right: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
//     font-size: 1rem;
//       &:hover{
//         background-color: #282828;
//         color: #f2f2f2;
//       }
// }
