.zones-list {
    font-family: Arial, sans-serif;
  
    .zone-list {
      margin-top: 3%;
      list-style-type: none;
      padding: 0;
      width: 100%;
      .zone-item {
        margin-bottom: 5px;
        &:hover{
          color: var(--secundary-color);
          font-weight: 600;
          cursor: pointer;
        }
        &.selected{
          color: var(--secundary-color);
          background-color: rgba(223, 223, 223, 0.785);
          border-radius: 50px;
        }
        .zone-number {
          font-weight: bold;
          font-size: 0.8rem;
        }
  
        .zone-details {
          display: flex;
          align-items: center;
  
          .zone-title {
            font-family: var(--font-poppins);
            margin-left: 10px;
            width: 50%;
          }
  
          .zone-color {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }